.confirmation-page{
    margin-top:80px;
    width: 0 auto;
    align-items: center;
    margin-bottom:0;
}

.confirmation-header{
    color: #F9B1B1;
    background-color: white ;
    position: absolute;
    top:190px;
    margin-left: 60px;
    opacity: 0.9;
    border-radius: 32px;
    padding: 10px 30px;
    font-family: "Futura";
    padding-top: 35px;

}