.profile-container {
    display: flex;
    justify-content: center;
    background-color: pink;
    padding-top: 8%;
    padding-bottom: 5%;
    color: black;
}

.order-history-card {
    flex: 1;
    background-color: white;
    border-radius: 10px;
    margin-right: 2%;
    padding: 20px;
    margin-left: 5%;
    border-top: 5px solid pink;
    border-bottom: 5px solid pink;
    color: black;
}

.payment-address-info-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.payment-info-card {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 3%;
    padding: 20px;
    margin-right: 10%;
}

.address-info-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-right: 10%;
}

.form-field {
    margin-bottom: 10px;
}

.input-group {
    display: flex;
}

.input-group input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
}

.icon-group {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.button-group {
    display: flex;
    justify-content: flex-end;
}

.update-button {
    background-color: #E68F8F;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .order-history-card {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .payment-address-info-container {
        flex: 1;
    }
}
