.store-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 30px;
    gap:30px;
    width: 1000px;
    margin: 0 auto;
    font-family: "Futura";
}

@media screen and (min-width: 768px) {
    .store-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

@media screen and (min-width: 480px) and (max-width: 767px) {
.store-list {
    grid-template-columns: repeat(1, 1fr);
}
} 
 