.home-page {
  margin-top: 7rem;
}

.mission-statement {
  background-color: rgba(249,177,177, 0.8);
  color: white;
}

.ms-title {
  padding-left: 25px;
  font-size: 10em;
  line-height: 1.1;
}

.ms-body {
  margin-top: -140px;
  font-size: 4em;
  padding-left: 50px;
}

.store-list {

}